@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

.hero {
  background-color: #fddfda;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fancy {
  color: #fff;
  font-size: 4rem;
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
  /* line-height: 100vh; */
  text-transform: uppercase;
  word-spacing: 0.5rem;
}

.fancy span {
  color: black;
  /* -webkit-text-stroke: 3px;
  -webkit-text-stroke-color: #000; */
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.social {
  /* display: flex; */
  margin-top: 1rem;
  font-size: 1.5rem;
  width: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.social a {
  color: #a59490;
}

.social a:visited {
  color: none;
}

.grow:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #9b8884;
}

.grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

footer {
  position: absolute;
  bottom: 1rem;
  font-size: 0.8rem;
  color: rgb(99, 99, 99);
}
